################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
.vscode
/.vs
/.vscode
/site/.vscode/launch.json
/site/.history
./.vs
./.vscode
./site/.history
./site/.vscode

