################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
.vscode
/.vs
/.vscode
/site/.vscode/launch.json
./.vs
./.vscode
./site/.vscode
./.vs/
./.vscode/
./site/.vscode/

