/*
 *  Flex Layout Specifics
*/

@font-face {
  font-family: "SusyLeagueFont";
  src: url(../font/Champions-Bold.ttf) format("truetype");
}
header {
  background-color:green;
  color:white;
  text-align:center;
  padding:5px;	 
}

footer {
  background-color:black;
  color:white;
  clear:both;
  text-align:center;
  padding:10px;	 	 
  height: 20px;
}

body {
padding: 0; 
margin: 0;
font-family: "SusyLeagueFont","Trebuchet MS","Trebuchet MS", Arial, Helvetica, sans-serif;
}

.navbar	{
z-index:1;
}

table{
border-collapse: collapse;
width: 100%;
}
table th, table td{
border: 1px solid #ddd;
padding: 6px 4px;
}
table tr:nth-child(even){
background-color: #f2f2f2;
}
table tr:hover {
background-color: #ddd;
}
table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #366b82;
color: white;
}
div.scrollmenu {
/* background-color: #333; */
overflow: auto;
white-space: nowrap;
}
main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/

/*
body{
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}

*/
li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{ 
    border-top:1px solid #aaa;
  }
.rosegiocatoriseriea{
  margin: 20px;
  display: inline-block
}
.mainaction{
  /* width: 100%; */
  display: block;
  background-color: rgb(54, 107, 130);
  text-align: center;
  padding: 10px;
}
.mainaction  a{
  color:  white;
}

.aggiungi{
  background-color: yellow
}

@media screen and (max-width: 719px) {
	.ui-grid-a>.ui-block-a, .ui-grid-a>.ui-block-b {
		width:auto;
    /* display: none; —- remove the menu, perhaps */
  	}
	.truncate {
		max-width: 120px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media screen and (min-width: 720px) {
	.ui-grid-a>.ui-block-a, .ui-grid-a>.ui-block-b {
		width:50%;
		/* display: none; —- remove the menu, perhaps */
	}
	/* .truncate {
	} */
}

.rotate {
	transform: rotate(-90deg);
	/* Legacy vendor prefixes that you probably don't need... */
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.ci_tabellone{
  width:350px;
  
}
.ci_tabellone td,.ci_tabellone th {
  
  word-wrap: normal;
}

.ci_tabellone td:nth-child(1) 
,.ci_tabellone th:nth-child(1) {
  width:100px;
  font-size: 1em;
}

.ci_tabellone td:nth-child(2) 
,.ci_tabellone th:nth-child(2) {
  width:100px;
  text-align: right;
}
.ci_tabellone td:nth-child(3) 
,.ci_tabellone th:nth-child(3) 
{
  width:10px;
  text-align: center;
}

.ci_tabellone td:nth-child(4) 
,.ci_tabellone th:nth-child(4) {
  width:100px;
  text-align: left;
}

.grid-container {
  display: grid;
  /* grid-gap: 50px; */
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  /* padding: 10px; */
}

.grid-column {
  background-color: rgba(255, 255, 255, 0.5);
  /* border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px; */
  /* font-size: 30px; */
  /* text-align: center; */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  text-align: center;
  /* display: flex; */
  margin: 5% 0;
}
connection {
  border: 1px dotted black;
  border-radius: 0px;
}