@font-face {
    font-family: "SusyLeagueFont";
    src: url(../font/Champions-Bold.ttf) format("truetype");
}

header {
    overflow: hidden;
}
header img {
margin-left: 50%;
transform: translateX(-50%);
}

body{
    font-family: "SusyLeagueFont", sans-serif, Verdana, Tahoma;  
}