@font-face {
    font-family: "SusyLeagueFont";
    src: url(../font/Champions-Bold.ttf) format("truetype");
}

header {
    overflow: hidden;
    background-color: black;
    color: white;
    justify-content: center;
    background-image: url('./images/header.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    
    
}
header h1{
    width: 50%;
    text-align: center;
}

// header #imghb {
// margin-left: 50%;
// transform: translateX(-50%);

// }

body{
    font-family: "SusyLeagueFont", sans-serif, Verdana, Tahoma;  
    margin: 0;
}