/*
 *  Flex Layout Specifics
*/

@font-face {
  font-family: "SusyLeagueFont";
  src: url(../font/Champions-Bold.ttf) format("truetype");
}

header {
  overflow: hidden;
  color: white;
  justify-content: center;
  background: #000000 url('../images/header.png') 100% 100% no-repeat;
  background-position: center; 
}
header h1{
  width: 100%;
  vertical-align: middle;
  height: auto;
  text-align: center;
}

footer {
  background-color:black;
  color:white;
  clear:both;
  text-align:center;
  padding:10px;	 	 
  height: 20px;
}

body {
padding: 0; 
margin: 0 2px;
font-family: "SusyLeagueFont","Trebuchet MS","Trebuchet MS", Arial, Helvetica, sans-serif;
}

h2{
  background-color: #172d36;
  text-align: center;
  color: white;
  padding: 10px;
  margin: 5px 0;
}
h3{
  background-color: #1f3c47;
  color: white;
  padding: 10px;
  margin:0;
}
h4{
  background-color: #274b59;
  color: white;
  padding: 10px;
  margin:0;
  text-align: right;
}
h5{
  background-color: #1f3c47;
  color: white;
  padding: 5px;
  margin:0;
}
.navbar	{
z-index:1;
}
div.stellarnav 
{ width:85%; 
  
  display:inline-block;}

.loginsection{
  width: 10%;
  /* display: inline-block; */
  word-wrap: break-word;
  /* background: #366b82; */
  color: white;
  float: right;
  /* vertical-align: middle; */
  padding: 0;
  text-align: center;
}


.loginsection ul{
  list-style: none;
  padding:0;
  margin: 0;
}
.loginsection ul li {
  display: inline-block;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: normal;
}



.loginsection a {
  padding: 5px;
  text-decoration: none;
  word-wrap: break-word;
  color: #FFF;
  /* border-left: 1px solid rgba(255, 255, 255, .15); */
  display: block;
  
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
  
}
.loginsection ul.submenu{
  top: auto;
  width: 100%;
  position: absolute;
  z-index: 9900;
  text-align: left;
  display: none;
  background: #366b82;
}

.loginsection ul.submenu a {
  padding: 15px 5px;
}

.loginsection .result{
  color: red;
}

 .button
 {
    width: 100%;
    padding: 10px 0;
    background: #366b82;
    color: white;
    text-align: center;
    margin: 10px 2px;
}
.button a{
  text-decoration:none;
  color:white;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
.maincontent{
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap;
   */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height:600px;
  background: rgba(255, 255, 255, 0.3);
}
.background
{
  background-image: url('../images/4c58a14a-ed39-4ae0-bf1a-78a8544dddcc.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center; 
}

body .widget{
  width: 400px;
}
body .widget>div,
body .widget table tr
{
  padding: 5px;
  /*  */
  background-color: rgba(255,255,255,0.8)
}
body .widget .result
{
  padding: 5px;

}
body .widget .result.alternate
{
  background-color:rgba(176,196,222 ,0.5 );

}

body .widget .result .punti
{
  
}

body .widget .result .gol
{
  font-weight: bold;
  float: right;
  background-color: #274b59;
  padding: 0 10px;
  color: white;
}
body .widget div.footer
{
  background-color: rgba(211,211,211, 0.7)
}

body .widget div.fustiassegnaticontent
{
  /* background-image: url('https://steamuserimages-a.akamaihd.net/ugc/921422768047804536/1EB6B3711464925CC59D4ECE667A55B2228EA69C/'); */
  /* background-image: url('https://gifimage.net/wp-content/uploads/2017/09/animated-beer-gif-4.gif'); */
  /* background-image: url('https://image.freepik.com/vettori-gratuito/banner-di-beer-barrel-oktoberfest-festival-holiday-decoration_48369-5864.jpg'); 
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;  */
  /* height: 200px; */
  /* text-align: center;
  vertical-align: middle; */

  background-image: url('https://image.freepik.com/vettori-gratuito/banner-di-beer-barrel-oktoberfest-festival-holiday-decoration_48369-5864.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
              
              /* background-origin: padding-box; */
  /* text-align: center; */
}
body .widget div.fustiassegnati .fustiassegnaticontent
{
  /* background: rgba(255, 255, 255, 0.3); */
  text-align: center;
}
body .widget div.fustiassegnati ul{
background-color: rgba(176,196,222 ,0.5 );
margin: 0px;
padding: 0px;
}
body .widget div.fustiassegnati #count-example{
    /* height: 100%; */
    /* vertical-align: middle; */
    /* padding: 36%; */
    /* display: block; */
    line-height: 200px;
    font-size: 100px;
    /* color: white; */
  }
body .widget div.fusticoming
{
  /* background-image: url('https://cdn.dribbble.com/users/1878498/screenshots/3795124/beer-anim_slower.gif'); */
  background-image: url('https://treatycitybrewery.ie/cms_files/wp-content/uploads/2017/04/gif2.gif');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center; 
  height: 200px;
  
}
table{
border-collapse: collapse;
width: 100%;
}
table th, table td{
border: 1px solid #ddd;
padding: 6px 4px;
}

/* table th:nth-child(1), table td:nth-child(1){
  width:10px;
  display: block; 
} */
table tr:nth-child(even){
background-color: #f2f2f2;
}
#tabellino table  th:nth-child(1),
#tabellino table td:nth-child(1){
  text-align: right;
}
#tabellino table  th{
 padding:3px 6px;
 font-size: 30px;
}

#tabellino table  td:nth-child(2){
  text-align: center;
}
#tabellino table  th:nth-child(3),
#tabellino table td:nth-child(3){
  text-align: left;
}
table tr:hover {
background-color: #ddd;
}
table th {
padding-top: 12px;
padding-bottom: 12px;
/* text-align: left; */
background-color: #366b82;
color: white;
}

.ui-widget-overlay {
  opacity: 0.5;
  filter: Alpha(Opacity=50);
  background-color: black;
}

.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) 
              /* url('http://i.stack.imgur.com/FhHRx.gif')  */
              /* url('https://www.footballtipster.net//assets/images/live_loader.gif') */
              /* url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/2a451af0-8632-426a-8de9-b1a8649ca548/d518u1w-23778107-953e-4716-b691-fa56b8125f67.gif') */
              url('https://i.pinimg.com/originals/cd/c0/80/cdc080b56fd1249b96d5edb7b2c43d5e.gif')
              /* url('https://media.giphy.com/media/WvuTFk2IN7jxoLVDkP/giphy.gif') */
              50% 50% 
              no-repeat;
}

/* When the body has the loading class, we turn
 the scrollbar off with overflow:hidden */
body.loading .modal {
  overflow: hidden;   
}

/* Anytime the body has the loading class, our
 modal element will be visible */
body.loading .modal {
  display: block;
}

div.scrollmenu {

overflow: auto;
white-space: nowrap;
}
main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{ 
    border-top:1px solid #aaa;
  }
.rosegiocatoriseriea{
  margin: 2px;
  display: inline-block
}

.rosegiocatoriseriea .nome{
  width:130px;
}
.mainaction{
  /* width: 100%; */
  display: block;
  background-color: rgb(54, 107, 130);
  text-align: center;
  padding: 10px;
}
.mainaction  a{
  color:  white;
}
#actioncontainer{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}
.buttonaction{
  max-width: 500px;
  display: block;
  background-color: rgb(54, 107, 130);
  text-align: center;
  padding: 10px;
  color:  white;
  cursor: pointer;
}


.mainaction.asabutton{
  color:  white;
  cursor: pointer;
}

.aggiungi{
  background-color: yellow;
  padding: 20px 10px;
}

.ui-grid-a .ui-block-a, .ui-grid-a .ui-block-b {
  width: 45%;
  /* display: inline-block; */
  /* display: none; —- remove the menu, perhaps */
  }

  .ui-grid-a .ui-block-a .mobile, 
  .ui-grid-a .ui-block-b .mobile{
    display:none;
  }
@media screen and (max-width: 720px) {
  .ui-grid-a .ui-block-a, .ui-grid-a .ui-block-b {
    width: 50%; 
    font-size: 1em;
  }  
  .ui-grid-a .ui-block-a .desktop, 
  .ui-grid-a .ui-block-b .desktop{
    display:none;
  }
  .ui-grid-a .ui-block-a .mobile, 
  .ui-grid-a .ui-block-b .mobile{
    display:block;
  }
  .truncate {
    /* max-width: 120px; */
    max-width: 6em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  div.stellarnav 
  { width:65%}
  .loginsection
  { width:30%}
  #tabellino table  th:nth-child(1),
  #tabellino table  th:nth-child(3){
    font-size: 6vw;
 }
 #tabellino table td
 {
   padding: 0 5px;
   font-size: 15px;
 }
}

.rotate {
	transform: rotate(-90deg);
	/* Legacy vendor prefixes that you probably don't need... */
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  width: 10px;
  margin: 0 7px;
}

.rotate2 {
	transform: rotate(90deg);
	/* Legacy vendor prefixes that you probably don't need... */
	/* Safari */
	-webkit-transform: rotate(90deg);
	/* Firefox */
	-moz-transform: rotate(90deg);
	/* IE */
	-ms-transform: rotate(90deg);
	/* Opera */
	-o-transform: rotate(90deg);
	/* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  width: 10px;
  margin: 0 7px;
}

.disable
{
  opacity: 0.5; 
}
.tabellonecoppa
{
  overflow: hidden;
  /* background: url('../images/coppa_italia.jpg');
  background-size:100% 100%; */
  
  /* justify-content: center; */
  background-image: url('../images/coppa_italia.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center; 
  /* background-size: 100% 100%; */
  
}
.tabellonecoppa .grid-column
{
    background-color:transparent;
  }
.tabellonecoppa .grid-column  .grid-item
{
  background-color:transparent;
}


.tabellonecoppa table tr:nth-child(even),
.tabellonecoppa table tr:nth-child(odd){
  background-color: #f2f2f2;
  }
.ci_tabellone{
  width:350px;
  
}
.ci_tabellone td,.ci_tabellone th {
  
  word-wrap: normal;
}

.ci_tabellone td:nth-child(1) 
,.ci_tabellone th:nth-child(1) {
  width:100px;
  font-size: 1em;
}

.ci_tabellone td:nth-child(2) 
,.ci_tabellone th:nth-child(2) {
  width:100px;
  text-align: right;
}
.ci_tabellone td:nth-child(3) 
,.ci_tabellone th:nth-child(3) 
{
  width:10px;
  text-align: center;
}

.ci_tabellone td:nth-child(4) 
,.ci_tabellone th:nth-child(4) {
  width:100px;
  text-align: left;
}

.ci_tabellone a{
  color:black;
}

.grid-container {
  display: grid;
  /* grid-gap: 50px; */
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  /* padding: 10px; */
}

.grid-column {
  background-color: rgba(255, 255, 255, 0.5);
  /* border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px; */
  /* font-size: 30px; */
  /* text-align: center; */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  text-align: center;
  /* display: flex; */
  margin: 5% 0;
}
connection {
  border: 1px dotted black;
  border-radius: 0px;
}

.calendario_giornata{
  display: inline-block;
  margin-top: 10px;
  vertical-align: top;
}
.calendario_giornata a{
  text-decoration: none;
  color: white;
}

.calendario_giornata table
{
  max-width: 450px;
}

.coppaitalia
{
  margin: 2px;
  width: 99%;
}
.coppaitalia h4
{
  text-align: left;
}

.coppaitalia a{
  
  color: black;
}
.coppaitalia table 
{
  max-width: 650px;
}


.calendario_giornata textarea
{
  /* max-width: 450px; */
  display: inline;
  width: 98%;
}

.calendario_giornata .data
{
  font-size: 1em;
}
.finale{
  text-align: center;
  overflow: hidden;
  color: white;
  /* justify-content: center; */
  /* background: white url('../images/Allianz_Stadium_49_3.jpg') 100% 100% no-repeat;
  background-position: top;  */
  

  overflow: hidden;
  /* color: white; */
  /* justify-content: center; */
  background: url('../images/Allianz_Stadium_49_3.jpg') 100% 100%;
  background-size:100% 100%;
}
.finale div{
  padding: 10px;
}
.finale .squadre,
.finale .score,
.finale .formazioni
{
  font-size: 25px;
  background-color:rgb(0,0,0, 0.8);
  /* opacity: 0.8; */
  /* display: inline; */
}

.finale .squadre div,
.finale .score div
{
  display: inline;
  
}
.finale .squadra1
{
  text-align: right;
}
.finale .squadra2
{
  text-align: left;
}
.finale .score .punti{
  font-size: 1em;
  padding: 10px;
  opacity: 0.8;
}
.finale .score .gol{
  font-size: 3em;
  padding: 3%;
}

.giornata
{
  display: inline-block;
  margin: 10px 20px;
  /* max-width: 33%; */
}

.giornata .link
{
  color: darkred;
  text-decoration: none;
}

.finale .formazioni a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.finale .commento
{
  min-height: 100px;
}

.finale textarea
{
  width: 50%;
}

.ui-tabs .ui-tabs-panel {
padding: 0;
}
.classifica tbody tr:nth-child(2) td:nth-child(1)
{
  color: #00cc99
}

#divContentNuovoScambio{
  /* display: grid;
  grid-template-columns: auto; */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* .grid-column {
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
} */

#divContentNuovoScambio .grid-item {
  text-align: center;
  /* margin: 0; */
}
 
.containerFormazione 
{
  
  
}
.containerFormazione .giocatori, 
.containerFormazione .formazione {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.containerFormazione .giocatorecontainer 
{
    width:80px;
		vertical-align:top;
		display: inline-block;
		text-align: center;
		margin: 5px;
		background-color: rgba(0,0,0,0.3);
		padding: 5px;
		border: solid 1px darkgray;
		border-radius: 10px;
		cursor: pointer;
}
.containerFormazione .titolare
{
  background-color : rgb(0, 255, 0);
}

.containerFormazione .riserva
{
  background-color : rgb(255, 0, 0);
}

.containerFormazione .titolare .badge,
.containerFormazione .riserva .badge
{
  position: relative;
  background-color: rgba(0,0,0,0.3);
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: black;
}
.containerFormazione  .giocatorecontainer img
{
  height: 80px;	width: 60px;
}
.containerFormazione .giocatorecontainer .textcontainer{
  word-wrap: break-word; 
  height:30px;
  overflow: hidden;
}

.containerFormazione .formazione .soccerfield
{
  background-image: url('/images/soccer_field_2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-position: center;  */
  /* width: 500px;
  height: 1000px; */
}

.containerFormazione .formazione .soccerfield {

  display: grid;
  /* grid-gap: 50px; */
  grid-template-columns: 90% 1fr 25%;
  /* grid-template-rows: auto auto auto auto; */
  /* background-color: #2196F3; */
  /* padding: 10px; */
}


.containerFormazione .formazione .soccerfield .titolari {
  /* display: block; */
  /* width: 100%; */
  background-color: yellow;
  /* width: 90%; */
  /* float: left; */
}

.containerFormazione .formazione .soccerfield .riserve {
  /* display: inline-block; */
  /* width: 10%; */
  /* height: 100%; */
  background-color: red;
  /* float: right; */
  grid-column: last-col / span 1;
  grid-row: 1 / last-line;
  grid-row-start: span 9000;
}

#divRiepilogo #titolari
{
  padding: 15px;
  font-size: 20px;
  text-align: center; 
}
#divRiepilogo #riserve
{
  padding: 10px;
  font-size: 15px;
  text-align: center; 
}



#divContentNuovoAnnuncio div{
 
  margin: 5px;
}
#divContentNuovoAnnuncio div input,
#divContentNuovoAnnuncio div textarea
{
  width: 98%;
}

.maincontent .riepilogo{
  min-width: 350px;
}